<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolingNet_DB_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ToolingNet_DB_Manager.My.MySettings>
            <setting name="DBDirectory" serializeAs="String">
                <value>\\FS1\MFG\ME_IE Group\Tooling Network\XML_Database\</value>
            </setting>
            <setting name="PublicLogLocation" serializeAs="String">
                <value>\\FS1\MFG\ME_IE Group\Tooling Network\Logs\</value>
            </setting>
            <setting name="PrivateLogLocation" serializeAs="String">
                <value>C:\SAPWork\ToolingNet\Logs\</value>
            </setting>
            <setting name="PublicLoggingActive" serializeAs="String">
                <value>True</value>
            </setting>
        </ToolingNet_DB_Manager.My.MySettings>
    </userSettings>
</configuration>